<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>debugging</string>
	<key>signingCertificate</key>
	<string>43F1251A43FAD491C0C97E1D1FFE22B9BCEE87E6</string>
	<key>teamID</key>
	<string>7X39ZNJZMN</string>
</dict>
</plist>
